<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Portail Pyp</display-name>

    <servlet>
        <servlet-name>PypApplication</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>net.codjo.pyp.PypApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PypApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-repository>
        <session-timeout>-1</session-timeout>
    </session-repository>

    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>

</web-app>